.header-container {
    text-align: center;
    padding: 100px 20px;
    background-color: #000;
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    background: linear-gradient(to right, #003cff, #a7a6a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.header-subtitle {
    color: #a0c8ff;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .header-container {
        padding: 60px 15px;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-subtitle {
        font-size: 1rem;
    }
}

@media (min-width: 1600px) {
    .header-container {
        padding: 150px 30px;
    }

    .header-title {
        font-size: 4rem;
    }

    .header-subtitle {
        font-size: 1.5rem;
    }
}
