.neon-box1 {
    width: 160px;
    height: 210px;
    background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
    border-radius: 12px;
    text-align: center;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}

.neon-box1:hover {
    box-shadow: 0 0 12px 5px rgba(204, 0, 255, 0.3);
}

.neon-box2 {
    width: 100%;
    height: 100%;
    background-color: #1d1724;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neon-box2:hover {
    transform: scale(0.985);
    border-radius: 11px;
}

.neon-text {
    color: white;
    font-size: 13px;
    margin: 0;
}
